.container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.cart-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(-180deg, #ffd1fc 0%, #fad0c6 100%);
}

.cart-text {
    margin: 30px;
}

.cart-table {
    flex-grow: 1;
    margin-right: 20px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-table-header,
.cart-table-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr 1fr;
    text-align: left;
    padding: 10px;
}

.cart-table-header {
    background-color: #f292cf;
    color: white;
    font-weight: bold;
}

.cart-table-header .header-item,
.cart-table-row .row-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-table-row {
    border-bottom: 1px solid #eee;
}

.row-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr 1fr;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 10px;
}

.row-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.quantity-selector button,
.checkout-button {
    background-color: #ffd1fc;
    color: #f292cf;
    border: none;
    margin: 0 5px;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.quantity-selector button:hover,
.checkout-button:hover {
    background-color: #fcb0d9;
    transform: translateY(-3px);
}

.quantity-selector {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-selector input {
    width: 50px;
    height: 35px;
    text-align: center;
}

.sidebar-cart {
    background-color: #89668f;
    color: white;
    padding: 30px;
    width: 400px;
    border-radius: 20px;
}

.order-summary {
    background-color: #f292cf;
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.summary-row {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.summary-row.total {
    font-weight: 300;
    margin-top: 20px;
}

.checkout-button {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #f292cf;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

.empty-cart h2 {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 70px;
}

@media (max-width: 768px) {
    .cart-page-container {
        flex-direction: column;
        max-width: 100%;
    }

    .cart-table,
    .sidebar-cart {
        width: 100%;
        margin-right: 0;
    }

    .order-summary {
        width: 100%;
        margin-top: 20px;
    }
}