.product-detail-page {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 60px; 
    background-color: #FAD0C4; 
    min-height: 100vh;
  }
  
  .product-image-wrapper {
    flex: 1; 
    position: relative;
  }
  
  .product-image {
    width: 100%; 
    max-width: 300px; 
    position: absolute; 
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .product-details-wrapper {
    flex: 1; 
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: -150px;
    z-index: 1;
  }
  
  .product-title {
    font-size: 2rem;
    color: #333;
  }
  
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .add-to-cart {
    background-color: #f292cf;
    color: white;
  }
  
  .add-to-wishlist {
    background-color: transparent;
    color: #f292cf;
    border: 2px solid #f292cf;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .product-detail-page {
      flex-direction: column;
      align-items: center;
    }
  
    .product-image-wrapper,
    .product-details-wrapper {
      width: 90%;
      max-width: 400px;
      position: static;
      margin: 0 auto;
    }
  
    .product-image {
      position: static;
      transform: none;
      width: 100%;
      max-width: 200px; 
    }
  
    .product-details-wrapper {
      margin-left: 0;
    }
  }
  