.container {
    display: flex;
    min-height: 100vh;
    padding-top: 50px; 
    background: linear-gradient(-180deg, #ffd1fc 0%, #fad0c6 100%);
}

.sidebar {
    background-color: #89678f; 
    padding: 30px;
    box-sizing: border-box;
    width: 350px; 
}

.sidebar-item {
    color: #ffffff;
    margin-bottom: 20px;
}

.profile-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%;
}

.profile-header {
    text-align: center;
    padding: 2rem;
}

.image-upload-container {
    background-color: #fff;
    border-radius: 30px; 
    text-align: center;
    padding: 20px;
    width: calc(100% - 4rem); 
    margin-bottom: 10px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-instructions {
    margin-bottom: 1rem;
    font-size: 1.2rem; 
    color: #555;
}

.upload-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.profile-picture {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    margin-bottom: 1rem;
}


.profile-form {
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem; 
    max-width: 600px;
    width: calc(100% - 4rem);
    margin: auto;
    margin-top: 0px;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    color: #555;
    margin-bottom: .5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.update-button {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #89678f;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.update-button:hover {
    background-color: #d272ae;
}

.upload-button {
    display: block;
    width: 50%;
    padding: 1rem;
    background-color: #89678f;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: #d272ae;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .profile-main {
        padding: 1rem;
    }

    .profile-form {
        padding: 1rem;
    }
}


