.container {
    display: flex;
    min-height: 100vh;
    padding-top: 30px;
    margin-top: 0px !important; 
    background: linear-gradient(-180deg, #ffd1fc 0%, #fad0c6 100%);
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.cartPageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(-180deg, #ffd1fc 0%, #fad0c6 100%);
}

.cartTable {
    flex-grow: 1;
    margin-right: 20px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.orderSummary {
    background-color: #f292cf;
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}